@use "../../../styles/theme";

@property --scroll-height {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-size: 2.5rem;
  margin: 0.5rem 0 1.5rem;
}

.navlink {
  padding: 0.75rem 1rem;
  background-color: theme.$PERSIAN_RED;
  margin-top: 1rem;
  display: inline-block;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}

.primary {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(theme.$CHARCOAL, var(--header-opacity));
  z-index: 50;

  height: max(calc(100vh - var(--scroll-height) + 1px), 160px);
  border-bottom: 1px solid white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  font-family: "DM Serif Text", serif;

  h1 {
    font-size: 5rem;
    margin: 0;
  }

  h2 {
    margin: 0;
  }

  .scroll-prompt {
    position: absolute;
    top: calc(100vh - 5rem);
    visibility: var(--prompt-visibility);

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;

    animation: prompt-bounce 1s linear infinite alternate;

    @keyframes prompt-bounce {
      from {
        top: calc(100vh - 5rem);
      }

      to {
        top: calc(100vh - 5.5rem);
      }
    }
  }
}

.primary-flow {
  height: 100vh;
  width: 100vw;
}

.about {
  padding: 2rem 0;
  text-align: center;
  border-bottom: 1px solid white;

  p {
    box-sizing: border-box;
    width: min(65rem, 100%);
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

.skills {
  padding: 2rem 0;

  border-bottom: 1px solid white;
  font-family: "DM Serif Text", serif;

  text-align: center;

  .skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem;

    @media (width < 50em) {
      margin: 2rem;
    }

    .skill {
      border: white 1px dashed;
      border-radius: 8px;
      padding: 2rem;
      width: 13rem;

      @media (width < 50em) {
        width: 8rem;
        padding: 1rem;
      }

      .icon {
        height: 6rem;

        @media (width < 50em) {
          height: 4rem;
        }
      }

      .miniicon {
        height: 4rem;

        @media (width < 50em) {
          height: 3rem;
        }
      }

      background: none;

      h3 {
        font-size: 1.5rem;
        margin: 0.5rem 0.5rem 0;

        @media (width < 50em) {
          font-size: 1rem;
          margin: 0.5rem 0 0;
        }
      }
    }

    :hover {
      background: white;
      color: black;
      cursor: default;
    }

    @media (width < 50em) {
      width: calc(100% - 4rem);
    }

    @media (50em < width < 75em) {
      width: calc(100% - 8rem);
    }

    @media (75em < width < 120em) {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }

    @media (120em < width< 150em) {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
    }

    @media (150em < width) {
      width: 40%;
      margin-left: 30%;
      margin-right: 30%;
    }
  }
}

.projects {
  text-align: center;
  padding: 2rem 0;

  .project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;

    .project {
      background-color: theme.$CHARCOAL;
      border: 1px solid white;
      border-radius: 1rem;
      padding: 1rem;
      width: 22.5rem;
    }
  }
}