.primary {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "DM Serif Text", serif;
  h1 {
    font-size: 5rem;
    margin: 0;
  }
  h3 {
    font-size: 2.5rem;
    margin: 0;
  }

  .scroll-prompt {
    position: absolute;
    top: calc(100vh - 5rem);

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;

    animation: prompt-bounce 1s linear infinite alternate;

    @keyframes prompt-bounce {
      from {
        top: calc(100vh - 5rem);
      }
      to {
        top: calc(100vh - 5.5rem);
      }
    }
  }
}

.about {
  padding: 2rem 0;
  text-align: center;
  border-top: 1px solid white;

  p {
    box-sizing: border-box;
    width: min(65rem, 100%);
    margin: auto;
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
  }

  .link {
    padding: 0.75rem 1rem;
    background-color: theme.$PERSIAN_RED;
    margin-top: 1rem;
    display: inline-block;
    color: white;
    border-radius: 8px;
    text-decoration: none;
  }
}

.skills {
  padding: 2rem 0;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
font-family: "DM Serif Text", serif;

  text-align: center;
  
  .skill-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4rem;

    .skill {
      border: white 1px dashed;
      border-radius: 8px;
      padding: 2rem;

      background: none;

      h3 {
        font-size: 1.5rem;
        margin: 0.5rem 0.5rem 0;
      }
    }

    :hover {
      background: white;
      color: black;
      cursor: default;
    }

    @media (width < 75em) {
      width: calc(100% - 8rem);
    }
    @media (75em < width < 120em) {
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
    }
    @media (120em < width< 150em) {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
    }
    @media (150em < width) {
      width: 40%;
      margin-left: 30%;
      margin-right: 30%;
    }
  }
}
