.primary {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "DM Serif Text", serif;
  h1 {
    font-size: 5rem;
    margin: 0;
  }
  h3 {
    font-size: 2.5rem;
    margin: 0;
  }

  .scroll-prompt {
    position: absolute;
    top: calc(100vh - 5rem);

    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;

    animation: prompt-bounce 1s linear infinite alternate;

    @keyframes prompt-bounce {
      from {
        top: calc(100vh - 5rem);
      }
      to {
        top: calc(100vh - 5.5rem);
      }
    }
  }
}

.skills {
  height: 1000px;

  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
